body{
    background-color: #eef3f8;
    margin: 20px;
}

h1{
    color: black;
}

p{
    font-size: 14px;
    line-height: 1.5;
    width: 700px;
}

.first_word{
    font-weight: bold;
    font-size: 14px;
}

a:hover{
    color:blue
}

li{
    margin-bottom: 10px;
}

i{
    margin-right: 5px;
}